* {
  box-sizing: border-box;
}

.parentbox {
  width: 1200px;
  height: 2000px;
  background-color: gray;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.box {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 6px solid black;
  margin: 0;
  position: relative;
  transition: opacity 500ms ease-in;
}

.box:hover {
  opacity: 1%;
}

.imgimg {
  width: 400px;
}

.pants {
  position: absolute;
  top: 222px;
  left: 50px;
  width: 325px;
}
.shirts {
  position: absolute;
  top: 67px;
  right: 80px;
  width: 325px;
}
.airpodmax {
  position: absolute;
  z-index: 2;
  top: -30px;
  left: -22px;
  width: 320px;
}

.coffee {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 210px;
}

.hamburger {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -120px;
}

.jacket_o {
  position: absolute;
  z-index: 1;
  top: 117px;
  left: 14px;
  width: 355px;
}

.rabbit.imgimg {
  position: relative;
  left: 0px;
  top: 0px;
}
